td.max-width {
  max-width: 100px; /* replace 100px with your desired max width */
  /*white-space: nowrap;*/ /* this prevents text from wrapping */
  overflow: hidden; /* this hides any text that overflows the cell */
  /*text-overflow: ellipsis;*/ /* this adds an ellipsis to the end of any truncated text */
}

.table-container {
  height: 500px; /* set the desired height here */
  overflow-y: scroll;
}

table.mat-table tbody tr:hover {
  background-color: #eee;
}