<div class="movie-details-container">
  <h2>{{ movieDetails?.title}}</h2>
  <ul>
    <li><strong>Adult:</strong> {{ movieDetails?.adult }}</li>
    <li><strong>Backdrop Path:</strong> {{ movieDetails?.backdrop_path }}</li>
    <li><strong>Budget:</strong> {{ movieDetails?.budget }}</li>
    <li><strong>Genres:</strong>
      <ul>
        <li *ngFor="let genre of movieDetails?.genres">{{ genre.name }}</li>
      </ul>
    </li>
    <li><strong>Homepage:</strong> {{ movieDetails?.homepage }}</li>
    <li><strong>IMDB ID:</strong> {{ movieDetails?.imdb_id }}</li>
    <li><strong>Original Language:</strong> {{ movieDetails?.original_language }}</li>
    <li><strong>Original Title:</strong> {{ movieDetails?.original_title }}</li>
    <li><strong>Overview:</strong> {{ movieDetails?.overview }}</li>
    <li><strong>Popularity:</strong> {{ movieDetails?.popularity }}</li>
    <li><strong>Poster Path:</strong> {{ movieDetails?.poster_path }}</li>
    <li><strong>Production Companies:</strong>
      <ul>
        <li *ngFor="let company of movieDetails?.production_companies">{{ company.name }}</li>
      </ul>
    </li>
    <li><strong>Production Countries:</strong>
      <ul>
        <li *ngFor="let country of movieDetails?.production_countries">{{ country.name }}</li>
      </ul>
    </li>
    <li><strong>Release Date:</strong> {{ movieDetails?.release_date }}</li>
    <li><strong>Revenue:</strong> {{ movieDetails?.revenue }}</li>
    <li><strong>Runtime:</strong> {{ movieDetails?.runtime }}</li>
    <li><strong>Spoken Languages:</strong>
      <ul>
        <li *ngFor="let language of movieDetails?.spoken_languages">{{ language.name }}</li>
      </ul>
    </li>
    <li><strong>Status:</strong> {{ movieDetails?.status }}</li>
    <li><strong>Tagline:</strong> {{ movieDetails?.tagline }}</li>
    <li><strong>Video:</strong> {{ movieDetails?.video }}</li>
    <li><strong>Vote Average:</strong> {{ movieDetails?.vote_average }}</li>
    <li><strong>Vote Count:</strong> {{ movieDetails?.vote_count }}</li>
  </ul>
  <button mat-button (click)="close()">Close</button>
</div>